/*______________________________________*/
.outter-container {
  position: relative;
  width: 320px;
  aspect-ratio: 4/8;
  // height: 600px;
  border-radius: 50px;
  border: 7px solid rgb(0, 0, 0);
  outline: 2px solid rgb(108, 108, 108);
  overflow: hidden;

  .screen {
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 45px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      scale: 3;
      z-index: 100;
      background-color: gray;
    }

    .box {
      height: 25%;
      width: 100%;
      background: transparent;
      z-index: 1000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      header {
        position: relative;
        height: 35px;
        width: 100%;
        background: none;
        display: flex;
        gap: 10px;
        justify-content: flex-end;
        align-items: center;
        padding-right: 25px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 15px;
          width: 30%;
          background: black;
          border-radius: 20px;
        }

        i{
          font-size: .8rem;
        }
      }

      .time-date {
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
