a,
.mat-mdc-button-base {
  text-decoration: none;

  &.mat-mdc-unelevated-button{
    --mdc-filled-button-label-text-color: var(--label) !important;
    --mdc-filled-button-container-color: transparent !important;
    padding: 0 !important;
    width: max-content !important;
  }

  &.mat-mdc-outlined-button{
    --mdc-outlined-button-label-text-color: var(--color-primary);
    --mdc-outlined-button-outline-color: var(--color-primary);
    // height: 45px;
    padding: 10px 25px;
    border-radius: var(--br);
    background-color: #fff;
    border: 2px solid var(--color-primary);

    .mdc-button__label{
      display: flex;
      align-items: center;
      gap: .5rem;
    }

    &.primary {
      background-color: var(--color-primary);
      color: #fff;
    }
  }
}
