section{
  width: 100%;

  header{
    width: 100%;

    h1{
      color: #323232;
    }

    p{
      color: #323232;
      opacity: 0.5;
    }

    .secundary{
      width: 100%;
      margin-top: 1rem;
    }
  }
}
