@import 'styles/animations';
@import 'styles/buttons';
@import 'styles/input';
@import 'styles/media';
@import 'styles/scroll';
@import 'styles/theming';
@import 'styles/typography';
@import 'styles/variables';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: #fafafa;
  padding: .5rem;
}

.svg-inline--fa {
  display: inline-block;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
